@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Quicksand:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,600;1,200&family=Zen+Antique&display=swap");

body {
  margin: 0px;
}

:root {
  /* colors */
  --body-color: rgb(42, 46, 57);
  --background-color-new: #fff8dd;
  --background-light: #dfd9c8;
  --white: white;
  --ucalgary-red: #cf0722;
  --ucalgary-red-hover: #7e0212;
  --ucalgary-yellow: #ffcd00;
  --ucalgary-yellow-light: #fff8dd;

  --ucalgary-header: white;

  /* text colors */
  --primary-heading-color: #c7a25e;
  --text-color: black;

  /* sizes */
  --inner-width: 70%;
  --padding-top-for-navbar: 5rem;

  /* font */
  font-size: 12px;
}

#root {
  /* these styles allow the footer to stick to the bottom of the page. 
  The padding bottom of 18rem is the same height as the footer 
  https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/
  position: relative;
  min-height: 100vh;
  padding-bottom: 18rem;

  /* fonts */
  /* font-family: "quicksand"; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* main styles */
  /* background-color: var(--body-color); */
  background: var(--background-color-new);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a div {
  text-decoration: none;
}

p {
  font-size: 2em;
}

.content {
  margin: 0;
  margin-bottom: 60px;
}

:root::-webkit-scrollbar {
  display: none;
}

/* ============================= */
/* === Default Button Styles === */

button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: "";
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  color: var(--text-color);
}

button:hover {
  font-weight: 200;

  background-color: var(--white);
}

/* ================ */
/* === Homepage === */
.example-page-container {
  background: var(--background-color-new);
  padding-top: var(--padding-top-for-navbar);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* ==================== */
/* === Create Event === */

.create-event-page-container {
  background: var(--background-color-new);
  padding-top: var(--padding-top-for-navbar);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.create-event-container {
  padding-top: var(--padding-top-for-navbar);
  width: var(--inner-width);
  padding: 2rem 2rem;
  border-radius: 5px;
  position: relative;
}

.create-event-container .title {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 3rem;
}

.create-event-container .title:after {
  transform: translateX(-50%);
  content: "";
  background: var(--ucalgary-yellow);
  position: absolute;
  bottom: -30%;
  left: 50%;
  height: 3px;
  width: 200%;
}

.create-event-container .create-event-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.create-event-container .input-box {
  width: 30%;
  margin-bottom: 2rem;
  position: relative;
}

.create-event-container .input-label {
  font-weight: 600;
  font-size: 1.3rem;
}

.create-event-container .form-subtitle {
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 1.1rem;
  color: #00000099;
}

.create-event-container input,
.create-event-container textarea {
  margin-top: 5px;
  width: 100%;
  height: 3rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 1.3rem;
  border-bottom-width: 2px;
  transition: all 0.4s ease;
}

.create-event-container textarea {
  height: 10rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.create-event-container input:focus,
.create-event-container textarea:focus {
  border-color: #341e0f;
}

.create-event-container .button {
  margin-top: 1rem;
  height: 100%;
  width: 100%;
}

.create-event-container .button input {
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  background: var(--button-color);
}

/* =================== */
/* === Events Page === */

.events-page-container {
  background: var(--background-color-new);
  padding-top: var(--padding-top-for-navbar);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.events-container {
  padding-top: var(--padding-top-for-navbar);
  /* width: var(--inner-width); */
  padding: 2rem 2rem;
  border-radius: 5px;
  position: relative;
}

.events-container .title {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 3rem;
}

.events-container .title:after {
  transform: translateX(-50%);
  content: "";
  background: var(--ucalgary-yellow);
  position: absolute;
  bottom: -30%;
  left: 50%;
  height: 3px;
  width: 200%;
}

/* =========================== */
/* === Login Window Styles === */

.login-page-container {
  padding-top: var(--padding-top-for-navbar);
  padding: 10px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--background-light);
  color: black;
}

.login-container {
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 4rem 10rem;
  border-radius: 10px;
  text-align: center;
}

.login-container .title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.login-container .subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.login-container .invalid-credentials {
  font-size: 1.3rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #ff000022;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  width: 100%;
  height: 3rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 1.3rem;
  border-bottom-width: 2px;
  margin-bottom: 1rem;
  transition: all 0.4s ease;
}

.login-container input:focus {
  border-color: #341e0f;
}

.login-container .button input {
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  background: var(--button-color);

  padding: 0;
  width: 20%;
}

/* =========================== */
/* === Sign up page styles === */

/* https://www.youtube.com/watch?v=okbByPWS1Xc&ab_channel=CodingLab */

.sign-up-page-container {
  padding-top: var(--padding-top-for-navbar);
  padding: 10px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--background-light);
  color: black;
}

.sign-up-container {
  max-width: 700px;
  width: 100%;
  background-color: var(--white);
  padding: 3rem 5rem;
  border-radius: 10px;
}

.sign-up-container .title {
  font-size: 2rem;
  font-weight: 500;
}

.sign-up-container .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.sign-up-container .input-box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 1rem;
}

.sign-up-container .host-box {
  width: calc(100%);
  margin-bottom: 1rem;
}

.sign-up-container .host-box input {
  margin-right: 0;
}

.sign-up-container .details {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.sign-up-container input,
.sign-up-container select {
  width: 100%;
  height: 3rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 1.3rem;
  border-bottom-width: 2px;
  transition: all 0.4s ease;
}

.sign-up-container input:focus {
  border-color: #341e0f;
}

.sign-up-container .button {
  margin: 3rem 0;
  height: 100%;
  width: 100%;
}

.sign-up-container .button input {
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  background: var(--button-color);
}

/* ===================== */
/* === Footer Styles === */

.footer-container {
  margin-top: 20px;
  background-color: var(--footer-header-color);
  padding-bottom: 4vh;
  width: 100%;
  /* height: 20vh; */
  position: absolute;
  bottom: 0;
}

.footer {
  width: var(--inner-width);
  margin: 0 auto;
  background-color: var(--footer-header-color);
  display: flex;
  padding-top: 2vh;
  justify-content: space-between;
}

.footer-heading {
  display: flex;
  flex-direction: column;
}

.footer-heading a {
  color: inherit;
  text-decoration: none;
  margin-bottom: 0.5vh;
  transition: color 0.1s ease-in-out;
}

.footer-heading a:hover {
  color: inherit;
}

.footer-heading h2 {
  color: var(--ucalgary-yellow);
  font-size: 2vmax;

  margin-bottom: 2vh;
}

.footer-3 {
  margin: auto 5vw;
}

.footer-heading p {
  font-size: 1.8rem;
}

#footer-logo {
  color: var(--ucalgary-red);
  font-size: 2.5rem;
}

.footer-links {
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
}

.footer-bottom {
  display: flex;
  justify-content: flex-start;
  width: var(--inner-width);
  margin: 0 auto;
  font-size: 1rem;
}

.footer-hr-style {
  width: var(--inner-width);
  margin: 1vh auto;
}

.footer-bottom-copyright {
  flex-grow: 4.5;
  margin: 0 auto;
}

.footer-bottom-policy {
  flex-grow: 2.73;
}
.footer-bottom-terms {
  flex-grow: 1.3;
}

.footer-bottom a {
  color: white;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: gray;
}

@media (max-width: 1350px) {
  .footer-1 {
    display: none;
  }
  .footer-bottom-copyright {
    display: none;
  }
}

/* ===================== */
/* === Header Styles === */

.header-container {
  position: absolute;
  top: 0;
  background: var(--ucalgary-red);
  z-index: 1;
  width: 100%;
  display: flex;
  padding: 0 10px;
  align-items: center;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  font-size: 1.4rem;
}

.header-icon a {
  text-decoration: none;
  color: var(--ucalgary-yellow);
  flex-grow: 1;
  font-size: 2.2rem;
  font-weight: 600;
  display: block;
  /* margin-top: 0.9vh; */
  margin-left: 0.9vmax;
}

#header-icon-logo {
  align-self: flex-end;
  text-decoration: none;
  color: var(--ucalgary-yellow);
  margin: auto 0.9vmax;
  /* margin-top: 0.9rem; */
  font-size: 4rem;
}

.header-middle {
  display: flex;
  flex-grow: 10;
  justify-content: center;
}

.header-link a {
  text-decoration: none;

  margin: 0 5px;
  color: var(--ucalgary-header);
  font-size: 2rem;
  font-weight: 420;
}

.header-link {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.4rem;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
}

.header-right .header-link {
  margin: 0 0;
}

.header-link:hover {
  background-color: var(--ucalgary-red-hover);
}

.header-right {
  flex-grow: 1;
  display: flex;
  margin-right: 2rem;

  justify-content: flex-end;
}

.header-dropdown {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.4rem;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
  color: var(--ucalgary-header);
  font-size: 2rem;
  font-weight: 420;
}

.header-dropdown a {
  text-decoration: none;
  margin: 0 0px;
  color: var(--ucalgary-header);
  font-size: 2rem;
  font-weight: 420;
}

/* Dropdown Content (Hidden by Default) */
.header-dropdown-content {
  display: none;
  position: absolute;
  transform: translateX(-12%);
  background: var(--ucalgary-red);
  border-radius: 16px;

  /* border: 1px solid rgba(255, 255, 255, 0.46); */
  /* min-width: 100px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
  border-radius: 2px;
}

/* Links inside the dropdown */
.header-dropdown-item {
  margin: 0 0px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 2px;
}

.header-dropdown-content a {
  color: var(--ucalgary-header);
  font-size: 2rem;
  font-weight: 420;
  border-radius: 2px;
}

/* Change color of dropdown links on hover */
.header-dropdown-item:hover {
  color: inherit;
  background-color: var(--ucalgary-red-hover);
}

/* Show the dropdown menu on hover */
.header-dropdown:hover .header-dropdown-content {
  display: block;
}

.header-down {
  margin-left: 0.9rem;
}

/*Desktop View*/
.header {
  display: flex;
  background: linear-gradient(#6616fc, #f394d3);
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 80px;
}
.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 45px;
  height: 45px;
}
.nav-options {
  display: flex;
  flex-grow: 10;
  justify-content: center;
}
.mobile-option {
  display: none;
}

.option :hover {
  color: inherit;
}
.signin-up {
  display: flex;
  padding: 0px 5px;
  list-style-type: none;
}
.sign-in {
  padding-right: 50px;
  align-self: center;
}
.sign-in :hover {
  color: inherit;
}
.signup-btn {
  padding: 10px 10px;
  height: 2.4rem;
  border-radius: 3px;
  background: rgb(222, 9, 241);
  color: inherit;
  cursor: pointer;
  align-items: center;
}
.mobile-menu {
  display: none;
}
@media (max-width: 1250px) {
  /*Mobile View */

  .header-container {
    background: var(--ucalgary-red);
  }
  .header {
    padding: 0px 10px;
  }
  .logo {
    width: 4.5vh;
    height: 4.5vh;
  }

  .header-link {
    margin-left: 2rem;
    margin: 0;
    border-radius: 8px;
    transition: all 0.1s ease-in-out;
  }
  .header-link a {
    padding: 1.1rem 3.5rem;
    font-size: 3.2vmax;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .nav-options {
    position: absolute;
    display: flex;
    width: 100%;
    height: 96vh;
    position: absolute;
    top: 0;
    padding-top: 0;
    margin-top: 4.8vh;
    left: -100%;
    opacity: 0;
    transition: all 0s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options.active {
    background: var(--ucalgary-red);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    width: 40px;
    height: 40px;
    margin-right: 2rem;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 0px 0px;
  }

  .mobile-menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: 0vw;
  }
}
