@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Quicksand:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,600;1,200&family=Zen+Antique&display=swap");

body {
  margin: 0px;
}

:root {
  /* colors */
  --body-color: rgb(42, 46, 57);
  --background-color-new: #fff8dd;
  --background-light: #dfd9c8;
  --white: white;
  --black: black;
  --ucalgary-red: #cf0722;
  --ucalgary-red-hover: #7e0212;
  --ucalgary-yellow: #ffcd00;
  --ucalgary-yellow-light: #fff8dd;
  --ucalgary-border: #e0bc7b;
  --ucalgary-shadow: #858173;
  --ucalgary-header: white;
  --ucalgary-blue: #74b0fc;

  /* text colors */
  --primary-heading-color: #c7a25e;
  --text-color: black;

  /* sizes */
  --inner-width: 70%;
  --padding-top-for-navbar: 5rem;

  /* font */
  font-size: 12px;
}

#root {
  /* these styles allow the footer to stick to the bottom of the page. 
  The padding bottom of 18rem is the same height as the footer 
  https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/*/
  position: relative;
  min-height: 100vh;
  padding-bottom: 22rem;
  overflow-x: hidden;

  /* fonts */
  /* font-family: "quicksand"; */
  /* font-family: "Comic Neue"; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* main styles */
  /* background-color: var(--body-color); */
  background: var(--background-color-new);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a div {
  text-decoration: none;
}

p {
  font-size: 2em;
}

.content {
  margin: 0;
  margin-bottom: 60px;
}

:root::-webkit-scrollbar {
  display: none;
}

/* ============================= */
/* === Default Button Styles === */

button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: "";
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  color: var(--text-color);
}

button:hover {
  font-weight: 200;

  background-color: var(--white);
}

/* ================ */
/* === Homepage === */
.example-page-container {
  background: var(--background-color-new);
  padding-top: var(--padding-top-for-navbar);
  background-image: url(./images/homepage_hub.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

.example-page-container h1 {
  position: absolute;
  left: 40%;
  top: 25%;
  font-size: 5rem;
  color: white;
  text-shadow: 0 0 3px #ff0000, 0 0 5px var(--ucalgary-red);

  /* background-color: black; */
}

.homepage-wrapper {
  background: var(--background-color-new);
  padding-top: var(--padding-top-for-navbar);
  background-image: url(./images/homepage_hub.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
}

.homepage-header {
  position: absolute;
  left: 37%;
  top: 37%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  line-height: 50px;
  /* padding-top: 40vh; */
  margin-bottom: 0rem;
  /* border: 1px solid red; */
}

.homepage-title-container {
  font-weight: 600;
  overflow: hidden;
  height: 50px;
  padding: 0 50px;
}

.content-container-text {
  display: inline;
  float: right;
  font-size: 45px;
  margin: 0;

  color: black;
  text-shadow: 0 0 8px white, 0 0 5px white;
}

.content-container-list {
  margin-top: 0;
  padding-right: 245px;
  text-align: right;
  list-style: none;

  color: black;
  text-shadow: 0 0 8px white, 0 0 5px white;

  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@-o-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@-moz-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

/* ==================== */
/* === Create Event === */

.create-event-page-container {
  background: var(--background-color-new);
  padding-top: var(--padding-top-for-navbar);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.create-event-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 50%;
  width: 60%;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.create-event-container .create-tags {
  margin-left: 3rem;
  background-color: white;
  margin: 20px 0 12px 0;
  width: 25%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-event-container .create-tags .title {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 3rem;
}

.create-event-container .create-tags .title:after {
  transform: translateX(-50%);
  content: "";
  background: var(--ucalgary-yellow);
  position: absolute;
  bottom: -30%;
  left: 50%;
  height: 3px;
  width: 200%;
}

.create-event-container .create-tags .input-box {
  width: 90%;
  margin-bottom: 0.5rem;
  position: relative;
  border: 1px solid #13131344;
  border-radius: 5px;
}

.create-event-container .create-tags .input-label {
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 3px;
}

.create-event-container .create-tags input,
.create-event-container .create-tags select {
  outline: none;
  border-radius: 5px;
}

.create-event-container .create-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  background-color: white;
  border-radius: 5px;
  width: 68%;
}

.create-event-container .create-event-form .title {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 3rem;
}

.create-event-container .create-event-form .title:after {
  transform: translateX(-50%);
  content: "";
  background: var(--ucalgary-yellow);
  position: absolute;
  bottom: -30%;
  left: 50%;
  height: 3px;
  width: 200%;
}

.create-event-container .create-event-form .input-box {
  width: 90%;
  margin-bottom: 2rem;
  position: relative;
}

.create-event-container .create-event-form .input-label {
  font-weight: 600;
  font-size: 1.3rem;
}

.create-event-container .create-event-form input,
.create-event-container .create-event-form textarea,
.create-event-container .create-event-form select {
  margin-top: 5px;
  width: 100%;
  height: 3rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 1.3rem;
  border-bottom-width: 2px;
  transition: all 0.4s ease;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.create-event-container .create-event-form textarea {
  height: 10rem;
  width: 102%;
  padding-left: 4px;
}

.create-event-container .create-event-form select {
  width: 103%;
}

.create-event-container .create-event-form input:focus,
.create-event-container .create-event-form textarea:focus {
  border-color: #341e0f;
}

.create-event-container .create-event-form .button {
  margin-top: 1rem;
  height: 100%;
  width: 50%;
}

.create-event-container .create-event-form .button input {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  background: var(--ucalgary-red);
  margin-bottom: 2rem;
}

.create-event-container .create-event-form .button input:hover {
  color: var(--ucalgary-yellow);
}

/* =================== */
/* === Events Page === */

.events-page-container {
  background: var(--background-color-new);
  padding-top: var(--padding-top-for-navbar);
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.events-container {
  padding-top: var(--padding-top-for-navbar);
  width: var(--inner-width);
  padding: 2rem 2rem;
  border-radius: 5px;
}

.events-container .title {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 3rem;
}

.events-container .title:after {
  transform: translateX(-50%);
  content: "";
  background: var(--ucalgary-yellow);
  position: absolute;
  bottom: -30%;
  left: 50%;
  height: 3px;
  width: 200%;
}

/* ================== */
/* === Event List === */

.event-list-container {
  display: block;
}
.event-list-container .subtitle {
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  margin-bottom: 1rem;
}

.event-list-container .subtitle:after {
  transform: translateX(-50%);
  content: "";
  background: var(--ucalgary-yellow);
  position: absolute;
  bottom: -30%;
  left: 50%;
  height: 3px;
  width: 100%;
}
.event-list-items {
  /* width: var(--inner-width); */
  /* align-items: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event-list-items > div {
  justify-content: start;
  flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  border: 1px solid var(--ucalgary-border);
  box-shadow: 2px 2px 2px var(--ucalgary-shadow);
  margin-bottom: 10px;
}

.event-list-container .title {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 3rem;
}

.event-list-container .title:after {
  transform: translateX(-50%);
  content: "";
  background: var(--ucalgary-yellow);
  position: absolute;
  bottom: -30%;
  left: 50%;
  height: 3px;
  width: 200%;
}

/* ============== */
/* === Filter === */

.filter-dropdowns {
  display: flex;
  justify-content: center;
  margin: auto 0vw;
}

.filter-dropdowns .item {
  margin: auto 2vmax;
  min-width: 14.5vw;
  max-width: 22vw;
  font-size: 1rem;
}

.filter-dropdowns .item label {
  font-size: 1.4rem;
  font-weight: 500;
}

/* ============= */
/* === Event === */

.event-container {
  position: relative;
  background: var(--white);
  max-width: 25vw;
  min-width: 20rem;
  margin: 3vh 2vw;
  padding: 2vh 1vw;
  border-radius: 8px;
  border: 1px solid var(--ucalgary-border);
  box-shadow: 2px 2px 2px var(--ucalgary-shadow);
}

.event-container:hover {
  cursor: pointer;
  animation: card-hover 0.2s ease-in-out forwards;
}
.event-container .content {
  flex-direction: column;
  margin: 0;
}
.event-container table {
  margin: 1.3vmax 0;
  min-width: 30vw;
}

.event-container th {
  /* align: center; */
  flex-direction: column;
  font-size: 1vmax;
  color: var(--ucalgary-red);
}

.event-container tr {
  text-align: left;
}

.event-container td {
  /* align: center; */
  font-size: 0.9vmax;
  /* padding: 1vh 3vw; */
  /* padding-right: 4rem; */
  font-weight: 450;
  /* padding: 1vh 1vw; */
}

.event-container .title {
  font-size: 1.9rem;
}

.event-container .title:after {
  transform: translateX(-50%);
  content: "";
  background: var(--ucalgary-red);
  position: absolute;
  bottom: -30%;
  left: 50%;
  height: 3px;
  width: 100%;
}

.event-container .like-button {
  position: relative;
  /* z-index: 2; */
  /* bottom: 1rem; */
  justify-content: end;
  left: 75%;
  /* margin-top: auto; */
  font-size: 5rem;
  /* font-weight: 200; */
  /* background: var(--white); */
}

.event-container .like-button svg {
  stroke: red;
  fill: red;
}

@keyframes card-hover {
  0% {
  }
  100% {
    transform: translateY(-5%);
  }
}

/* ====================== */
/* === Event Overview === */

.event-overview-page-container {
  background: var(--background-light);
  padding-top: var(--padding-top-for-navbar);
  max-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.event-overview-container {
  position: relative;
  min-width: 40vw;
  max-width: 70vw;
  min-height: 77vh;
  max-height: 90vh;
  background-color: white;
  padding: 3vh 4vw;
  margin: 6vh auto;
  border-radius: 10px;
  text-align: left;
}

.event-overview-container .title {
  font-size: 2.7vmax;
  font-weight: bold;
}

.event-overview-container .title:after {
  transform: translateX(-50%);
  content: "";
  background: var(--ucalgary-red);
  position: absolute;
  bottom: -30%;
  left: 50%;
  height: 3px;
  width: 100%;
}
.event-overview-container table {
  margin: 1.3vmax 0;
  min-width: 30vw;
}

.event-overview-container th {
  /* align: center; */
  flex-direction: column;
  font-size: 1.3vmax;
  padding: 1vh 2vw;
  color: var(--ucalgary-red);
}

.event-overview-container tr {
  /* align: center; */
  font-size: 1.1vmax;
  padding: 1vh 3vw;

  font-weight: 450;
  /* padding: 1vh 1vw; */
}

.event-overview-container td {
  /* align: center; */
  font-size: 1.2vmax;
  /* padding: 1vh 3vw; */
  width: 10vw;
  /* padding-right: 4rem; */
  font-weight: 450;
  /* padding: 1vh 1vw; */
}
.event-overview-container .content {
  display: flex;
  /* align-items: center; */
}

.event-overview-container .text {
  font-size: 1.4rem;
  padding: 1vh 1vw;
  margin: 0vmax 3vmax;
}

.event-overview-container .description {
  position: relative;
}

.event-overview-container .button-add-to-calender {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 2rem;
  color: white;
  background-color: var(--ucalgary-red);
}

.event-overview-container .button-add-to-calender:hover {
  background-color: var(--ucalgary-red-hover);
}

.event-overview-container .subtitle {
  padding: 0vh 1vw;
  margin: 2vmax 5vmax;
  font-size: 2vmax;
  font-weight: 500;
  color: var(--ucalgary-red);
}

/* ============= */
/* === Host === */

.host-container {
  background: var(--white);
  max-width: 25vw;
  min-width: 20rem;
  margin: 3vh 2vw;
  padding: 2vh 1vw;
  border-radius: 8px;
  border: 1px solid var(--ucalgary-border);
  box-shadow: 2px 2px 2px var(--ucalgary-shadow);
}

.host-container:hover {
  animation: host-hover 0.2s ease-in-out forwards;
}

.host-container div:hover {
  cursor: pointer;
}

.host-container .follow-button {
  position: relative;
  padding-top: 1rem;
  justify-content: end;
  left: 75%;
}

.host-container .follow-button button {
  cursor: pointer;
  color: var(--white);
  background: var(--ucalgary-blue);
}

.host-container .follow-button button:hover {
  color: var(--ucalgary-blue);
  background: var(--white);
  border: 1px solid var(--ucalgary-blue);
}

.host-container .follow-button-red {
  position: relative;
  padding-top: 1rem;
  justify-content: end;
  left: 70%;
}

.host-container .follow-button-red button {
  cursor: pointer;
  color: var(--white);
  background: var(--ucalgary-red);
}

.host-container .follow-button-red button:hover {
  color: var(--ucalgary-red);
  background: var(--white);
  border: 1px solid var(--ucalgary-red);
}

.host-container .title {
  font-size: 2rem;
}

.host-container .date {
  /* align: center; */
  font-size: 1.6rem;
  padding: 1vh 1vw;
}
.host-container .type {
  /* align: center; */
  font-size: 1.6rem;
  padding: 1vh 1vw;
}
.host-container .faculty {
  /* align: center; */
  font-size: 1.6rem;
  padding: 0 1vw;
}
.host-container .location {
  /* align: center; */
  font-size: 1.6rem;
  padding: 0 1vw;
}
.host-container .private {
  /* align: center; */
  font-size: 1.6rem;
  padding: 0 1vw;
}

.host-container .title:after {
  transform: translateX(-50%);
  content: "";
  background: var(--ucalgary-red);
  position: absolute;
  bottom: -30%;
  left: 50%;
  height: 3px;
  width: 100%;
}

@keyframes card-hover {
  0% {
  }
  100% {
    transform: translateY(-5%);
  }
}

@keyframes host-hover {
  0% {
  }
  100% {
    transform: translateY(-2%);
  }
}

/* ===================== */
/* === Host Overview === */

.host-overview-page-container {
  background: var(--background-light);
  padding-top: var(--padding-top-for-navbar);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.host-overview-container {
  min-width: 40vw;
  max-width: 70vw;
  background-color: white;
  padding: 4rem 10rem;
  border-radius: 10px;
  text-align: left;
}

.host-overview-container .title {
  font-size: 3vmax;
  font-weight: bold;
}

.host-overview-container .title:after {
  transform: translateX(-50%);
  content: "";
  background: var(--ucalgary-red);
  position: absolute;
  bottom: -30%;
  left: 50%;
  height: 3px;
  width: 100%;
}
.host-overview-container table {
  margin: 1.3vmax 0;
  min-width: 30vw;
}

.host-overview-container th {
  /* align: center; */
  flex-direction: column;
  font-size: 1.5vmax;
  padding: 1vh 2vw;
  color: var(--ucalgary-red);
}

.host-overview-container tr {
  /* align: center; */
  font-size: 1.2vmax;
  padding: 1vh 3vw;

  font-weight: 450;
  /* padding: 1vh 1vw; */
}

.host-overview-container td {
  /* align: center; */
  font-size: 1.2vmax;
  /* padding: 1vh 3vw; */
  width: 10vw;
  /* padding-right: 4rem; */
  font-weight: 450;
  /* padding: 1vh 1vw; */
}
.host-overview-container .content {
  display: flex;
  /* align-items: center; */
}
.host-overview-container .text {
  font-size: 1.4rem;
  padding: 1vh 1vw;
  margin: 0vmax 5vmax;
}
.host-overview-container .subtitle {
  padding: 0vh 1vw;
  margin: 2vmax 5vmax;
  font-size: 2vmax;
  font-weight: 500;
  color: var(--ucalgary-red);
}

/* ================== */
/* === Host Page === */

.hosts-page-container {
  background: var(--background-color-new);
  padding-top: var(--padding-top-for-navbar);
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.hosts-container {
  padding-top: var(--padding-top-for-navbar);
  width: var(--inner-width);
  padding: 2rem 2rem;
  border-radius: 5px;
}

.hosts-container .subtitle {
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  margin-bottom: 1rem;
}

.hosts-container .subtitle:after {
  transform: translateX(-50%);
  content: "";
  background: var(--ucalgary-yellow);
  position: absolute;
  bottom: -30%;
  left: 50%;
  height: 3px;
  width: 100%;
}

.hosts-container .title {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 3rem;
}

.hosts-container .title:after {
  transform: translateX(-50%);
  content: "";
  background: var(--ucalgary-yellow);
  position: absolute;
  bottom: -30%;
  left: 50%;
  height: 3px;
  width: 200%;
}

/* ================== */
/* === Event List === */

.host-list-container {
  display: block;
}
.host-list-items {
  /* width: var(--inner-width); */
  /* align-items: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.host-list-items > div {
  justify-content: start;
  flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  border: 1px solid var(--ucalgary-border);
  box-shadow: 2px 2px 2px var(--ucalgary-shadow);
  margin-bottom: 10px;
}

.host-list-container .title {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 3rem;
}

.host-list-container .title:after {
  transform: translateX(-50%);
  content: "";
  background: var(--ucalgary-red);
  position: absolute;
  bottom: -50%;
  left: 50%;
  height: 3px;
  width: 100%;
}

/* =========================== */
/* === Login Window Styles === */

.login-page-container {
  padding-top: var(--padding-top-for-navbar);
  padding: 10px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--background-light);
  color: black;
}

.login-container {
  max-width: 600px;
  width: 100%;
  background-color: var(--white);
  padding: 4rem 10rem;
  border-radius: 10px;
  text-align: center;
}

.login-container .title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.login-container .subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.login-container .new-user {
  font-size: 1.2rem;
  font-weight: 500;
  /* margin-bottom: 2rem; */
}

.login-container .invalid-credentials {
  font-size: 1.3rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #ff000022;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  width: 100%;
  height: 3rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 1.3rem;
  border-bottom-width: 2px;
  margin-bottom: 1rem;
  transition: all 0.4s ease;
}

.login-container input:focus {
  border-color: #341e0f;
}

.login-container .button input {
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  background-color: var(--ucalgary-red);

  padding: 0;
  width: 20%;
}

.login-container .button input:hover {
  background-color: var(--ucalgary-red-hover);
  color: var(--ucalgary-yellow);
}

/* ======================== */
/* === My Events (Host) === */
.delete-event-button {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  color: white;
  background-color: var(--ucalgary-red);
}

.delete-event-button:hover {
  background-color: var(--ucalgary-red-hover);
}

/* =========================== */
/* === Sign up page styles === */

/* https://www.youtube.com/watch?v=okbByPWS1Xc&ab_channel=CodingLab */

.sign-up-page-container {
  padding-top: var(--padding-top-for-navbar);
  padding: 10px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--background-light);
  color: black;
}

.sign-up-container {
  max-width: 700px;
  width: 100%;
  background-color: var(--white);
  padding: 3rem 5rem;
  border-radius: 10px;
}

.sign-up-container .title {
  font-size: 2rem;
  font-weight: 500;
}

.sign-up-container .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.sign-up-container .input-box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 1rem;
}

.sign-up-container .host-box {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.sign-up-container .host-box input {
  position: absolute;
  bottom: -6px;
  left: 30%;
  width: 3%;
  height: 2rem;
}

.sign-up-container .details-host-box {
  font-weight: 600;
  font-size: 1.3rem;
}

.sign-up-container .details {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.sign-up-container input,
.sign-up-container select {
  width: 100%;
  height: 3rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 1.3rem;
  border-bottom-width: 2px;
  transition: all 0.4s ease;
}

.sign-up-container input:focus {
  border-color: #341e0f;
}

.sign-up-container .button {
  margin: 3rem 0;
  height: 100%;
  width: 100%;
}

.sign-up-container .button input {
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  background: var(--ucalgary-red);
}

.sign-up-container .button input:hover {
  background-color: var(--ucalgary-red-hover);
  color: var(--ucalgary-yellow);
}

/* ===================== */
/* === Footer Styles === */

.footer-container {
  margin-top: 20px;
  background-color: var(--white);
  padding-bottom: 4vh;
  width: 100%;
  /* height: 20vh; */
  position: absolute;
  bottom: 0;
}

.footer {
  width: var(--inner-width);
  margin: 0 auto;
  background-color: var(--footer-header-color);
  display: flex;
  padding-top: 2vh;
  justify-content: space-between;
}

.footer-heading {
  display: flex;
  flex-direction: column;
}

.footer-heading a {
  color: inherit;
  text-decoration: none;
  margin-bottom: 0.5vh;
  transition: color 0.1s ease-in-out;
}

.footer-heading a:hover {
  color: inherit;
}

.footer-heading h2 {
  color: var(--ucalgary-yellow);
  font-size: 2.2rem;

  margin-bottom: 2vh;
}

.footer-3 {
  margin: auto 5vw;
}
.footer-2 {
  margin: auto 5vw;
}

.footer-heading p {
  font-size: 1.8rem;
}

#footer-logo {
  color: var(--ucalgary-red);
  font-size: 2.5rem;
}

.footer-links {
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
}

.footer-bottom {
  display: flex;
  justify-content: flex-start;
  width: var(--inner-width);
  margin: 0 auto;
  font-size: 1rem;
}

.footer-hr-style {
  width: var(--inner-width);
  margin: 1vh auto;
}

.footer-bottom-copyright {
  flex-grow: 4.5;
  margin: 0 auto;
}

.footer-bottom-policy {
  flex-grow: 2.73;
}
.footer-bottom-terms {
  flex-grow: 1.3;
}

.footer-bottom a {
  color: black;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: gray;
}

@media (max-width: 1350px) {
  .footer-1 {
    display: none;
  }
  .footer-bottom-copyright {
    display: none;
  }
}

/* ===================== */
/* === Header Styles === */

.header-container {
  position: absolute;
  top: 0;
  background: var(--ucalgary-red);
  z-index: 1;
  width: 100%;
  display: flex;
  padding: 0 10px;
  align-items: center;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  font-size: 1.4rem;
  font-family: "quicksand";
}

.header-icon a {
  text-decoration: none;
  color: var(--ucalgary-yellow);
  flex-grow: 1;
  font-size: 2.2rem;
  font-weight: 600;
  display: block;
  /* margin-top: 0.9vh; */
  margin-left: 0.9vmax;
}

#header-icon-logo {
  align-self: flex-end;
  text-decoration: none;
  color: var(--ucalgary-yellow);
  margin: auto 0.9vmax;
  /* margin-top: 0.9rem; */
  font-size: 4rem;
}

.header-middle {
  display: flex;
  flex-grow: 10;
  justify-content: center;
}

.header-link a {
  text-decoration: none;

  margin: 0 5px;
  color: var(--ucalgary-header);
  font-size: 2rem;
  font-weight: 420;
}

.header-link {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.4rem;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
}

.header-right .header-link {
  margin: 0 0;
}

.header-link:hover {
  background-color: var(--ucalgary-red-hover);
}

.header-right {
  flex-grow: 1;
  display: flex;
  margin-right: 2rem;

  justify-content: flex-end;
}

.header-dropdown {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.4rem;
  border-radius: 8px;
  transition: all 0.1s ease-in-out;
  color: var(--ucalgary-header);
  font-size: 2rem;
  font-weight: 420;
}

.header-dropdown a {
  text-decoration: none;
  margin: 0 0px;
  color: var(--ucalgary-header);
  font-size: 2rem;
  font-weight: 420;
}

/* Dropdown Content (Hidden by Default) */
.header-dropdown-content {
  display: none;
  position: absolute;
  transform: translateX(-12%);
  background: var(--ucalgary-red);
  border-radius: 16px;

  /* border: 1px solid rgba(255, 255, 255, 0.46); */
  /* min-width: 100px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
  border-radius: 2px;
}

/* Links inside the dropdown */
.header-dropdown-item {
  margin: 0 0px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 2px;
}

.header-dropdown-content a {
  color: var(--ucalgary-header);
  font-size: 2rem;
  font-weight: 420;
  border-radius: 2px;
}

/* Change color of dropdown links on hover */
.header-dropdown-item:hover {
  color: inherit;
  background-color: var(--ucalgary-red-hover);
}

/* Show the dropdown menu on hover */
.header-dropdown:hover .header-dropdown-content {
  display: block;
}

.header-down {
  margin-left: 0.9rem;
}

/*Desktop View*/
.header {
  display: flex;
  background: linear-gradient(#6616fc, #f394d3);
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 80px;
}
.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 45px;
  height: 45px;
}
.nav-options {
  display: flex;
  flex-grow: 10;
  justify-content: center;
}
.mobile-option {
  display: none;
}

.option :hover {
  color: inherit;
}
.signin-up {
  display: flex;
  padding: 0px 5px;
  list-style-type: none;
}
.sign-in {
  padding-right: 50px;
  align-self: center;
}
.sign-in :hover {
  color: inherit;
}
.signup-btn {
  padding: 10px 10px;
  height: 2.4rem;
  border-radius: 3px;
  background: rgb(222, 9, 241);
  color: inherit;
  cursor: pointer;
  align-items: center;
}
.mobile-menu {
  display: none;
}
@media (max-width: 1250px) {
  /*Mobile View */

  .header-container {
    background: var(--ucalgary-red);
  }
  .header {
    padding: 0px 10px;
  }
  .logo {
    width: 4.5vh;
    height: 4.5vh;
  }

  .header-link {
    margin-left: 2rem;
    margin: 0;
    border-radius: 8px;
    transition: all 0.1s ease-in-out;
  }
  .header-link a {
    padding: 1.1rem 3.5rem;
    font-size: 3.2vmax;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .nav-options {
    position: absolute;
    display: flex;
    width: 100%;
    height: 96vh;
    position: absolute;
    top: 0;
    padding-top: 0;
    margin-top: 61px;
    left: -100%;
    opacity: 0;
    transition: all 0s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options.active {
    background: var(--ucalgary-red);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    width: 40px;
    height: 40px;
    margin-right: 2rem;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 0px 0px;
  }

  .mobile-menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: 0vw;
  }
}

/* ========================= */
/* === About Page Styles === */

.about-page-container {
  background: var(--background-color-new);
  padding-bottom: 1rem;
}

.about-container {
  width: var(--inner-width);
  margin: 0 auto;
}

.about-container .statements {
  padding-top: 35vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-statement {
  font-size: 7rem;
  width: 80%;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

.about-statement-2 {
  position: relative;
  font-size: 3rem;
  width: 60%;
  text-align: center;
}

.about-statement:after {
  transform: translateX(-50%);
  content: "";
  background: var(--golden-color);
  position: absolute;
  bottom: -20%;
  left: 50%;
  height: 3px;
  width: 80%;
}

.about-titles {
  margin-bottom: 3rem;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.about-mission {
  margin-bottom: 3rem;
}

.about-bios {
  display: flex;

  justify-content: space-between;
  margin-bottom: 10rem;
  flex-wrap: wrap;
}

.about-team {
  padding-top: 20vh;
}

.about-person {
  width: 45%;
}

.about-person img {
  width: 100%;
  height: 600px;
  border-radius: 5px;
}

.about-person h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}

.about-person h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.about-person p {
  font-size: 1.3rem;
  line-height: 2rem;
}
